* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  gap: 32px;
  padding: 64px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 20%;
  text-align: center;
  line-height: 1.5;
}

h2,
p {
  margin-top: 8px;
}
